@charset "utf-8";
/**
 * Created by Merrier on 2016/4/2.
 */
/* CSS Document */
.insqua_box .teaqua_show_box{
    margin-bottom: 70px;
}

.insqua_box .main_box_title{
    margin-bottom: 66px;
}

.mid_imgbox{
    margin-bottom: 77px;
}